:root {
  --nav-text-color: #fff;
  --transition-time-effect: 300ms ease-in-out;
}

$color-primary: hsla(350, 80%, 52%, 1);
$color-white: #fff;
$color-black: #000;
$color-black-light: #3D3D40;
$color-grey: #434343;
$color-grey-light: #eee;
$color-grey-light-2: #FBFBFB;
$color-grey-light-3: #FDFDFD;
$color-grey-dark-1 : #DADADA;
$color-gold: goldenrod;