footer {
  background: black;
  height: 5em;
  display: grid;
  place-items: center;
  padding: 5rem 0;
  
  @include respon(md-desktop) {
    grid-column: col-start 1 / -1;
    grid-row: row-start 3 / row-end 4;
  }

  &>p {
    color: #999;
    font-size: 1.2rem;
    padding: 0;
  }
}