nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: min-content 2fr;
  padding-inline: 1rem;
  background: $color-white;
  box-shadow: 0 .5rem 1rem alpha(.1);
  z-index: 3;


  @include respon(md-desktop) {
    height: 100%;
    z-index: 0;
    box-shadow: none;
    position: static;
    align-self: start;
    justify-items: center;
    background: white;
    padding-inline: 0;
    grid-column: col-start 1 / col-start 1;
    grid-template-rows: repeat(2, min-content);
  }
}

.nav-container {
  gap: 0 1rem;

  @include respon(md-desktop) {
    grid-column: 1/-1;
    grid-row: 2/3;
    flex-direction: column !important;
    align-items: start !important;
    width: 100%;
  }

  &>a {
    text-decoration: none;
    display: inline-block;

    @include respon(md-desktop) {
      &:first-child {
        display: inline-block;
        padding: .5rem 5rem .5rem 2rem;
        width: 100%;
      }
    }
  }
}

.drop-down>button,
.search-container {
  padding: 0.5rem 0.5rem;
}

.drop-down {

  @include respon(md-desktop) {
    width: 100%;
  }

  &>.drop-btn {
    position: relative;
    border: none;
    background: none;

    @include respon(md-desktop) {
      display: none;
    }
  }
}

/*Nav Content*/
.dropdown-content {
  position: absolute;
  top: calc(100% - 2rem);
  background: $color-white;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 0;
  padding-top: 1rem;
  border-radius: 3px;
  transition: 250ms all ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);

  @include respon(md-desktop) {
    opacity: 1;
    position: static;
    pointer-events: auto;
    visibility: visible;
    box-shadow: none;
    border-radius: 0;
    align-items: start !important;
    width: 100%;
  }

  &.active {
    opacity: 1;
    top: 100%;
    pointer-events: auto;
    visibility: visible;
  }
}

.drop-down>.dropdown-content>a {
  display: inline-block;
  padding: .5rem 5rem .5rem 2rem;
  width: 100%;
}