.pagination {
  margin: 2rem 0;
  padding-inline: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 1.5rem;
  
  
  @include respon(md-desktop) {
    width: 30%;
    position: fixed;
    right: 5%;
    bottom: 5%;
  }

  &__btn--next,
  &__btn--prev {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    background: $color-black;
    border-radius: 100px;
    
    @include respon(md-desktop) {
      border: .5px solid $color-white;
    }
    
    &>svg {
      transition: all 200ms ease-in-out;
      fill: currentColor;
    }
  }

  &__btn--next {
    justify-self: end;

    &>svg {
      margin-left: .5rem;
    }

    &:hover,
    &:focus {
      &>svg {
        margin-left: 1rem;
      }
    }
  }

  &__btn--prev {
    justify-self: start;

    &>svg {
      margin-right: .5rem;
    }

    &:hover,
    &:focus {
      &>svg {
        margin-right: 1rem;
      }
    }
  }

}