.pagination {
  margin: 2rem 0;
  padding-inline: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 1.5rem;

  &__btn--next,
  &__btn--prev {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    background: $color-black;

    &>svg {
      transition: all 200ms ease-in-out;
      fill: currentColor;
    }
  }

  &__btn--next {
    justify-self: end;

    &:hover,
    &:focus {
      &>svg {
        margin-left: 0.5rem;
      }
    }
  }

  &__btn--prev {
    justify-self: start;

    &:hover,
    &:focus {
      &>svg {
        margin-right: 0.5rem;
      }
    }
  }

}