*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem == 10px
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.7;
  background: $color-grey-light-3;;
}

.loader {
  fill: $color-primary;
  width: 4rem;
  height: 4rem;
  animation: rotationRight 1500ms infinite linear;
}

.error-message {
  transform: translateY(-20rem);
}