*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem == 10px
  box-sizing: border-box;

  @include respon(sm-phone) {
    //1rem === 7px
    font-size: 44%;
  }

  @include respon(md-phone) {
    //1rem === 11px;
    font-size: 68%;
  }

  @include respon(l-phone) {
    //1rem === 12px
    font-size: 75%;
  }
}

body {
  min-height: 100vh;
  line-height: 1.7;
  font-family: 'Sen', sans-serif;
  background: $color-grey-light-3;

  @include respon(md-desktop) {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    grid-template-rows: min-content max-content min-content;
    gap: 1rem;
  }
  
  & input, button {
    font-family: inherit;
  }
}

.loader {
  fill: $color-primary;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 5;

  & svg {
    animation: rotationRight 1500ms infinite linear;
    width: 4rem;
    height: 4rem;
  }
}

.error-message {
  transform: translateY(-20rem);
}