main {
  min-height: 100%;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  justify-items: center;
  gap: 5rem 1rem;
  margin: 1rem;
  min-height: 100vh;
  
  & .loader {
    transform: translateY(-15rem);
  }
}

.movie-name-cont {
  width: 100%;
}
