main {
  min-height: 100vh;

  @include respon(md-desktop) {
    grid-column: col-start 2 / col-end 5;
    grid-row: 2 / 4;
  }
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  justify-items: center;
  gap: 5rem 1rem;
  margin: 1rem;
  min-height: 100%;

  @include respon(md-desktop) {
    grid-row: row-start 2 / row-end 11;
  }

  & .loader {
    transform: translateY(15rem);
    
    @include respon (md-desktop) {
      transform: translateY(0);
    }
  }
}

.movie-name-cont {
  width: 100%;
}